.userinput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;

    &__input {
        height: 50px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid rgb(60, 16, 83);
    }
    &__submit {
        height: 50px;
        border-radius: 5px;
        border: 1px solid rgb(60, 16, 83);
    }
}